﻿@model IEnumerable<Campaign.WebApp.Models.Customers.Customer>

@{
    ViewData["Title"] = "Home Page";
}

<section>
    
    <h2>申込</h2>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>名前</th>
            <th>性別</th>
            <th>生年月日</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    <form method="post" asp-action="Apply" asp-controller="Home" asp-route-customerId="@customer.Id">
                        <button class="btn btn-primary">
                            申込
                        </button>
                    </form>
                </td>
                <td>@customer.Name</td>
                <td>@customer.Gender</td>
                <td>@customer.BirthDate</td>
            </tr>
        }
        </tbody>
    </table>
</section>